<div style="display: -webkit-box">
    <div class="chart_ready" data-percent="0" style="float: left; text-align: -webkit-center">
        <span class="percent" style="font-size: 28px;  float: left; width: 100%; position: relative; top: 160px;"></span>
    </div>

    <span class="chart_assigned" data-percent="0" style="float: left; text-align: -webkit-center">
        <span class="percent" style="font-size: 28px; float: left; width: 100%; position: relative; top: 160px;"></span>
    </span>

    <span class="chart_fault" data-percent="0" style="float: left; text-align: -webkit-center">
        <span class="percent" style="font-size: 28px; float: left; width: 100%; position: relative; top: 160px;"></span>
    </span>
</div>