<config>
    <type>FDM</type>
    <state></state>
    <task_id />
    <task_state />
    <currentline />
    <totalline />
    <x>100</x>
    <y>100</y>
    <z>100</z>
    <baudrate>115200</baudrate>
    <serialport>/dev/ttyUSB</serialport>
    <material>PLA</material>
    <material_color>black</material_color>
    <nozzle_size>0.3</nozzle_size>
    <worked_time>0</worked_time>
    <server>192.168.0.99</server>
</config>